nav {
    color: #a2a5a9;
    font-size: 13px;
}

.dropdown-button {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 13px;
    height: 100%;
    color: gray;
    background-color: transparent;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-color: transparent;
}
.badge {
    font-size: 9px;
}
.dropdown-outer-container {
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: 1px;
    z-index: 99;
}

.nav-item:hover .dropdown-outer-container { display: block; }
.nav-item:hover .dropdown-button { 
    color: black;
    border-color: #0775FF;
}