<nav class="navbar navbar-expand-lg border-bottom p-0">
    <div class="container-fluid bg-white">
        <a class="navbar-brand  ps-2 pe-2" href="#">
            <img src="https://webiz.ams3.cdn.digitaloceanspaces.com/ck/candykeys.png" width="214" height="35">
        </a>
        
        <ul class="navbar-nav me-auto">
                <li class="nav-item ps-2 pe-2">
                    <button class="dropdown-button fw-lighter">Mechanical Keyboards</button>
                    <div class="dropdown-outer-container container-fluid bg-white">
                        <div class="dropdown-inner-container container-lg">
                            <div class="row">
                                <div class="col-6 my-2 me-3 p-3 bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <img src="https://webiz.ams3.cdn.digitaloceanspaces.com/ck/layout/mech.jpg">
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                            <h5>Brands</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Leopold</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Vortex</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Other</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">IKBC</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Glorious PC Gaming Race</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Varmilo</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Keychron</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Keeb.io</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Ducky</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Anne Pro</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                            <a class="nav-link link-dark" href="#">
                                            <div class="row mt-3 pt-3 border-top">
                                                <div class="col p-0"><h6>See all brands</h6></div>
                                                <div class="col-md-auto p-0"><h6><i class="bi bi-chevron-right"></i></h6></div>
                                                                                          
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-2 ms-3 me-3 p-3 bg-light">
                                    <h5>Sizes</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Numpad</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">40%</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">60%</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">69%</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">75%</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">TKL</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">100%</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">90%</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col my-2 ms-3 p-3 bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Switches</h5>
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link py-1 px-0 link-secondary" href="#">Cherry</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link py-1 px-0 link-secondary" href="#">Gateron</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link py-1 px-0 link-secondary" href="#">Topre</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link py-1 px-0 link-secondary" href="#">Kailh</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h5>Kits</h5>
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link py-1 px-0 link-secondary" href="#">All kits</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- END MECH KEEBS SECTION -->

                <!-- START KEYCAPS SECTION -->
                <li class="nav-item ps-2 pe-2">
                    <button class="dropdown-button fw-lighter">Keycaps</button>
                    <div class="dropdown-outer-container container-fluid bg-white">
                        <div class="dropdown-inner-container container-lg">
                            <div class="row">
                                <div class="col-6 my-2 me-3 p-3 bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <img src="https://webiz.ams3.cdn.digitaloceanspaces.com/ck/layout/keyc.jpg">
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                            <h5>Brands</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">GMK</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Other</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">KeyPop</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">MAX Keyboard</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Varmilo</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">EnjoyPBT</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Tai-Hao</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">RAMAWORKS</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Signature Plastics</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Custom Clicks</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                            <a class="nav-link link-dark" href="#">
                                            <div class="row mt-3 pt-3 border-top">
                                                <div class="col p-0"><h6>See all brands</h6></div>
                                                <div class="col-md-auto p-0"><h6><i class="bi bi-chevron-right"></i></h6></div>
                                                                                          
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-2 ms-3 me-3 p-3 bg-light">
                                    <h5>Layouts</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ANSI</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-DE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-FR</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-NOR</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-PT</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-SP</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-UK</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Other</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ISO-IT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col my-2 ms-3 p-3 bg-light">
                                    <h5>Artisan keycaps</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">GMK</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Other</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Custom Clicks</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">ZOMO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">EnjoyPBT</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">RAMAWORKS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- END KEYCAPS SECTION -->

                <!-- START SWITCHES SECTION -->
                <li class="nav-item ps-2 pe-2">
                    <button class="dropdown-button fw-lighter">Switches</button>
                    <div class="dropdown-outer-container container-fluid bg-white">
                        <div class="dropdown-inner-container container-lg">
                            <div class="row">
                                <div class="col-6 my-2 me-3 p-3 bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <img src="https://webiz.ams3.cdn.digitaloceanspaces.com/ck/layout/switches.jpg">
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                            <h5>Brands</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Varmilo</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Kailh</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Outemu</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Zeal PC</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Cherry</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Other</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Gateron</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">JWK/DUROCK</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-2 ms-3 me-3 p-3 bg-light">
                                    <h5>Feedback</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Linear</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Tactile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Clicky</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col my-2 ms-3 p-3 bg-white">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- END SWITCHES SECTION -->

                <!-- START EXTRAS SECTION -->
                <li class="nav-item ps-2 pe-2">
                    <button class="dropdown-button fw-lighter">Extras</button>
                    <div class="dropdown-outer-container container-fluid bg-white">
                        <div class="dropdown-inner-container container-lg">
                            <div class="row">
                                <div class="col-6 my-2 me-3 p-3 bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <img src="https://webiz.ams3.cdn.digitaloceanspaces.com/ck/layout/extra.jpg">
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                            <h5>Components</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Cases</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">PCB Plates</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">O-Rings</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Solder</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Resistors & Capacitors</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Plates</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Lubrication</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">LED Diodes</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Stabilizers</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Springs</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-2 ms-3 me-3 p-3 bg-light">
                                    <h5>Accessories</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Cable</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Switch Testers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Keycap Pullers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Wrist-Rests</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Silencing Foam</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Protection</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Deskmats</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Switch Film</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">Mechanical Mouses</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col my-2 ms-3 p-3 bg-light">
                                    <h5>Merchandise</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link py-1 px-0 link-secondary" href="#">All Merchandise</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- END KEYCAPS SECTION -->

                <!-- START GROUP-BUYS SECTION -->
                <li class="nav-item ps-2 pe-2">
                    <button class="dropdown-button fw-lighter">Group-Buys</button>
                </li>
                <!-- END GROUP-BUYS SECTION -->
        </ul>


        <ul class="navbar-nav">
            <li class="nav-item me-2">
                <a class="nav-link" aria-current="page" href="#">
                    <img src="https://candykeys.com/img/icons/joindiscord.png" width="70" height="35">
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link-dark" href="#"><i class="bi bi-search fs-5 fw-bold"></i></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link-secondary fw-lighter" href="#"><i class="bi bi-person link-dark fs-5 fw-bold"></i>  Register or Login</a>
            </li>
            <li class="nav-item ms-2">
                <a class="nav-link link-primary" href="#">
                    <i class="bi bi-cart3 link-dark fs-5 fw-bold me-1">
                        <span class="position-absolute top-45 start-15 translate-middle badge bg-primary border rounded-pill">0</span>
                    </i>
                    0,00 €
                </a>
            </li>
        </ul>

        </div>
</nav>