<nav class="navbar navbar-light py-0 px-3">
    <ul class="nav me-auto">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Mechanical Keyboards, Keycaps & Components</a>
        </li>
    </ul>

    <ul class="nav ms-auto">
        <li class="nav-item">
            <a class="nav-link link-secondary ps-2 pe-3" href="#">Join our Discord  <i class="bi bi-discord fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary ps-2 pe-3" href="#"><i class="bi bi-instagram fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary ps-2 pe-3" href="#"><i class="bi bi-facebook fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary ps-2" href="#"><i class="bi bi-twitter fw-lighter"></i></a>
        </li>
    </ul>
</nav>