<style>
    nav {
        background: #ececf6;
    }
</style>
<nav class="navbar navbar-light p-0">
    <ul class="nav me-auto">
        <li class="nav-item">
            <a class="nav-link disabled fw-lighter" href="#">Mechanical Keyboards, Keycaps & Components</a>
        </li>
    </ul>

    <ul class="nav ms-auto">
        <li class="nav-item">
            <a class="nav-link link-secondary fw-lighter ps-2 pe-2" href="#">Join our Discord  <i class="bi bi-discord fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary fw-lighter ps-2 pe-2" href="#"><i class="bi bi-instagram fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary fw-lighter ps-2 pe-2" href="#"><i class="bi bi-facebook fw-lighter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary fw-lighter ps-2" href="#"><i class="bi bi-twitter fw-lighter"></i></a>
        </li>
    </ul>
</nav>