<div class="container-fluid px-5">
    <img class="pb-5" src="/assets/images/logos/candykeys.png" width=180px>
    <div class="row">
        <div class="col pe-3">
            <h5>Navigation</h5>
            <ul class="nav flex-column">
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">Shipping</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">Help</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">About us</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">AGB/Terms & Conditions</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">Datenschutz/Privacy Policy</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">Impressum/Sitemap</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#">B2B Access</a>
            </ul>
        </div>
        <div class="col ps-3 pe-3">
            <h5>Contact us</h5>
            <p class="text-secondary fw-light">Need help? Our support is always there to answer your questions or to resolve any issues. We can help you decide your perfect keyboard or pick the right components. Just give us a shout and we will be right with you!</p>
            <p class="text-secondary fw-light">E-mail: support@candykeys.com</p>
            <button class="btn btn-primary btn-lg w-auto px-5 py-2 btnHoverEffect fs-6"><i class="bi bi-life-preserver pe-2"></i>Send support ticket</button>
        </div>
        <div class="col ps-3 pe-3">
            <h5>Socials</h5>
            <ul class="nav flex-column">
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#"><i class="bi bi-instagram pe-2"></i>Follow us on Instagram</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#"><i class="bi bi-facebook pe-2"></i>Like us @facebook</a>
                <a class="nav-link link-secondary px-0 pt-0 pb-1 fw-light" href="#"><i class="bi bi-discord pe-2"></i>Join our Discord</a>
            </ul>
        </div>
        <div class="col ps-3">
            
        </div>
    </div>
</div>