<div class="container-fluid px-5">
    <div class="row border-top pt-4">
        <div class="col"><img src="/assets/images/logos/dhl.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/dp.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/dpd.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/paypal.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/ssl.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/sendcloud.png" width=130px></div>
        <div class="col"><img src="/assets/images/logos/stripe.png" width=130px></div>
    </div>
</div>