<div class="container-lg p-4" max-width="1000px">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <!-- Items/Images To Rotate -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <img src="https://ucarecdn.com/de55e7c8-74ef-4a84-98d5-b5ab26ec75da~1/nth/0/-/scale_crop/1160x600/-/format/auto/" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="https://ucarecdn.com/d926ad4f-f408-4d2b-8726-2d08d09f9d4b~1/nth/0/-/scale_crop/1160x600/-/format/auto/" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="https://ucarecdn.com/187c5d1c-a655-4eac-8c6e-a29f59a652a4~1/nth/0/-/scale_crop/1160x600/-/format/auto/" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="https://ucarecdn.com/2ad9fb64-276c-4122-af33-b85d1cbf055b~1/nth/0/-/scale_crop/1160x600/-/format/auto/" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>

        <!-- Previous and Next Navigation Buttons -->
        <button
            class="m-3 bg-white carousel-control-button carousel-control-button-prev rounded position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <i class="bi bi-chevron-left p-3 rounded shadow"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="m-3 bg-white carousel-control-button carousel-control-button-next rounded position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <i class="bi bi-chevron-right p-3 rounded shadow"></i>
            <span class="visually-hidden">Next</span>
        </button>


        <!-- Bottom "Jump to Item/Image" Navigation Buttons -->
        <div class="carousel-indicators">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active w-100" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                    <div class="col">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="w-100" aria-label="Slide 2"></button>
                    </div>
                    <div class="col">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="w-100" aria-label="Slide 3"></button>
                    </div>
                    <div class="col">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="w-100" aria-label="Slide 3"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>