.card button {
    position: absolute;
    top: 0px;
    font-size: 13px;
}
.card:hover .seeDetails {
    visibility: visible;
}
.card:hover img {
    box-shadow: 2px 2px 10px lightgray;
}
.seeDetails {
    visibility: hidden;
}
.seeDetails a {
    color: black;
}
.seeDetails a:hover {
    color: #0775FF;
}