<!-- Individual product card that will automatically fill available space -->
<a class="text-decoration-none text-dark" href="#">
    <div class="card border-0">
        <img src={{productImage}} class="card-img-top rounded" alt="{{productName}} image">
        <a href="#"><button type="button" class="px-2 py-1 m-2 rounded {{productStatusColor}} {{productStatusVisibility}} text-white border-0 fw-bold">{{productStatus}}</button></a>
        <div class="card-body pb-0">
            <i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i>
            <p class="card-text fs-6 fw-light m-0">{{productName}}</p>
            <p class="text-black-50 fs-6 fw-light m-0">{{productPrice | number:'0.2-2'}} €</p>
            <p class="seeDetails fw-bold"><a class="text-decoration-none" href="#">See details <i class="bi bi-chevron-right"></i></a></p>
        </div>
    </div>
</a>