<!-- Layout elements that are specific to product category page -->
<div class="container-fluid p-0 m-0">

    <!-- Category page header -->
    <div class="row px-5 py-5">
        <h4 class="my-0">Keycaps</h4>
        <p class="fs-0 my-0 fw-light">All products in Keycaps</p>
    </div>

    <!-- Display all products of a specfic category here -->
    <div class="row px-5 py-4">
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
    </div>
    <div class="row px-5 py-4">
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>