<!-- Layout elements that are specific to login page -->
<div class="container-fluid p-0 m-0">

    <!-- Login page header -->
    <div class="row px-5 py-5">
        <h4 class="my-0">Login</h4>
        <p class="fs-0 my-0 fw-light">Here you can log in</p>
    </div>
    <div class="row px-5 py-4">
        <div class="col">
            <p>login form</p>
        </div>
        <div class="col">
            <p>notice about how to create a new account</p>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>