<div class="container-fluid">
    <div class="row p-3">
        <!-- Individual Product Card -->
        <div class="col p-3">
            <a href="#">
                <div class="card border-0">
                    <img src="https://ucarecdn.com/8b3b457f-3b2c-46eb-a29e-fa07b308b7be~4/nth/0/-/scale_crop/250x250/-/format/auto/-/quality/smart/-/resize/626x/" class="card-img-top rounded" alt="...">
                    <a href="#"><button type="button" class="px-2 py-1 m-2 rounded bg-dark text-white border-0 fw-bold">Preorder</button></a>
                    <div class="card-body">
                        <i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i>
                        <p class="card-text fs-6 fw-light m-0">MW PBT 02 & 015 Deskmats</p>
                        <p class="text-black-50 fs-6 fw-light m-0">23,00 €</p>
                        <p class="seeDetails fw-bold my-1"><a href="#">See details <i class="bi bi-chevron-right"></i></a></p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Individual Product Card -->
        <div class="col p-3">
            <a href="#">
                <div class="card border-0">
                    <img src="https://ucarecdn.com/02e10916-fe9c-40c0-b671-6a8670774e3c~1/nth/0/-/scale_crop/250x250/-/format/auto/-/quality/smart/-/resize/626x/" class="card-img-top rounded" alt="...">
                    <a href="#"><button type="button" class="px-2 py-1 m-2 rounded bg-dark text-white border-0 fw-bold">Preorder</button></a>
                    <div class="card-body">
                        <i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i>
                        <p class="card-text fs-6 fw-light m-0">THOK x 02 & 015 Horns Keycap</p>
                        <p class="text-black-50 fs-6 fw-light m-0">48,00 €</p>
                        <p class="seeDetails fw-bold my-1"><a href="#">See details <i class="bi bi-chevron-right"></i></a></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Individual Product Card -->
        <div class="col p-3">
        </div>
        
        <!-- Individual Product Card -->
        <div class="col p-3">
        </div>
    </div>

</div>