<div class="container-fluid px-0">
    <a href="#" class="text-decoration-none text-dark">
    <div class="row position-relative">
        <img src="/assets/images/groupbuy-product/1234x.jpg" class="img-fluid border p-0 rounded-3">
        <span class="badge bg-dark position-absolute top-0 end-0 m-2 p-2 w-auto">GB is live until - 0d 0h 0m</span>
    </div>
    <div class="row pt-4">
        <h5>EPBT Acid House & Sweet Girl</h5>
    </div>
    <div class="row px-2 pt-2">
        <div class="col mx-1">
            <div class="row rounded-3 bg-primary progressBarIndicator">

            </div>
            <div class="row pt-2 text-primary progressBarText">
                In-progress
            </div>
        </div>
        <div class="col mx-1">
            <div class="row rounded-3 progressBarInactive progressBarIndicator">

            </div>
            <div class="row pt-2 fw-light progressBarText">
                Submitting to German Electronic Design
            </div>
        </div>
        <div class="col mx-1">
            <div class="row rounded-3 progressBarInactive progressBarIndicator">

            </div>
            <div class="row pt-2 fw-light progressBarText">
                Manufacturing
            </div>
        </div>
        <div class="col mx-1">
            <div class="row rounded-3 progressBarInactive progressBarIndicator">

            </div>
            <div class="row pt-2 fw-light progressBarText">
                Completed
            </div>
        </div>
    </div>
    </a>
</div>