<!-- Layout elements that are specific to home/landing page -->
<div class="container-fluid">
    
    <!-- Featured product carousel -->
    <div class="row pb-4">
        <app-product-carousel>Loading product carousel.</app-product-carousel>
    </div>

    <!-- New products header and card grid -->
    <div class="row px-4 pt-4 pb-0">
        <i class="bi bi-keyboard fs-1 text-primary pb-0"></i>
        <h4 class="my-0">New products</h4>
        <p class="fs-0 my-0 fw-light">Products that just landed!</p>
    </div>
    <div class="row">
        <app-product-card-grid-full-width>Loading product card grid.</app-product-card-grid-full-width>
    </div>
</div>