<!-- Site-wide layout.  Includes elements common to every "page" on this web app-->
<div class="container-fluid p-0">
    <!-- Header (Included on all pages)-->
    <div class="row">
        <app-top-social-nav-bar>Loading top social navigation bar.</app-top-social-nav-bar>
    </div>
    <div class="row sticky-top">
        <app-top-nav-bar>Loading top navigation bar.</app-top-nav-bar>
    </div>

    <!-- Page specific content.  Add/remove routes in app-routing.module.ts -->
    <div class="row">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer (Included on all pages) -->

    <!-- Footer placeholder; not yet implmented. -->
</div>