<!-- Site-wide layout.  Includes elements common to every "page" on this web app-->
<div class="container-fluid p-0">
    <!-- Header (Included on all pages)-->
    <div class="row">
        <app-top-social-nav-bar>Loading top social navigation bar.</app-top-social-nav-bar>
    </div>
    <div class="row sticky-top">
        <app-top-nav-bar>Loading top navigation bar.</app-top-nav-bar>
    </div>

    <!-- Page specific content -->
    <div class="row">
        <app-landing-page>Loading landing page component.</app-landing-page> 
    </div>
</div>