<!-- Site-wide layout.  Includes elements common to every "page" on this web app-->
<div class="container-fluid px-0">
    <!-- Header (Included on all pages)-->
    <div class="row">
        <app-top-social-nav-bar>Loading top social navigation bar.</app-top-social-nav-bar>
    </div>
    <div class="row sticky-top">
        <app-top-nav-bar>Loading top navigation bar.</app-top-nav-bar>
    </div>

    <!-- Page specific content.  Add/remove routes in app-routing.module.ts -->
    <div class="row">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer (Included on all pages) -->

    <!-- Footer placeholder; not fully implmented. -->
    <div class="row py-5">
        <app-newsletter-bar>Loading newsletter bar.</app-newsletter-bar>
    </div>
    <div class="row py-5">
        <app-bottom-nav-bar>Loading bottom navigation bar.</app-bottom-nav-bar>
    </div>
    <div class="row py-5">
        <app-bottom-logo-bar>Loading bottom logo bar.</app-bottom-logo-bar>
    </div>

</div>
