<div class="d-flex flex-wrap justify-content-between">
        <!-- Loop to create a new product card for every product in productsToDisplay -->
        <div *ngFor="let currentProduct of productsToDisplay">
            <div class="productCard pb-4">
                <app-product-card 
                    [productName]=currentProduct.name 
                    [productPrice]=currentProduct.price 
                    [productImage]=currentProduct.image>
                    Loading product card
                </app-product-card>
            </div>
        </div>
</div>